<div class="page-header" style="padding-left: 2em;">
	<h1><a href="{{baseUrl}}/#/">{{page}}話 {{webComicMain[page-1].title}}</a></h1>
	{{webComicMain[page-1].discription}}
</div>

<div class="container">
	<ul>
		<li ng-repeat="num in [] | range:webComicMain[page-1].pages" style="text-align: center; margin-bottom: 60px;">
			<img style="width: 100%; max-width: 452px; border: 0.1em solid #DDD;" src="{{baseUrl}}/assets/img/comic/backflipGirl/ex{{page}}/{{num+1}}.jpg" alt={{num+1}} />
		</li>
	</ul>

	<!-- pager -->
	<nav>
		<ul class="pager">
			<li ng-show="prevFlg" class="previous"><a href="{{baseUrl}}/#/comic/{{page-1}}"><span aria-hidden="true">&larr;</span> Prev</a></li>
			<li><button class="btn btn-default"><a href="{{baseUrl}}/#/">TOP</a></button></li>
			<li ng-show="nextFlg" class="next"><a href="{{baseUrl}}/#/comic/{{page+1}}">Next <span aria-hidden="true">&rarr;</span></a></li>
		</ul>
	</nav>
</div>
